@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Noto Sans", sans-serif;
  /* color: aliceblue; */
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: black;
}

.container {
  padding: 0 20px;
}

.section-heading {
  font-size: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  /* margin: 4rem; */
  /* text-transform: uppercase; */
}
/* LOADER */
#loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: purple;
  z-index: 99;
  transition: 0.3s ease;
}
.slider-container {
  width: auto;
  height: 70px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.info {
  width: 100%;
  text-align: center;
  line-height: 5px;
}
.slide {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  font-size: 4rem;
}

.slide.active {
  opacity: 1;
  transform: translateY(0%);
}
/* Navbar */
nav {
  background-color: black;
  color: aliceblue;
  height: 70px;
  transition: 0.3s ease;
  /* overflow-y: hidden; */
  z-index: 100;
  position: relative;
}
#navbar {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  transform: translateY(20%);
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  padding-right: 20px;
  padding-left: 20px;
}
.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  align-items: center;
  height: 100%;
}

.nav-link {
  text-decoration: none;
  color: aliceblue;
  /* width: 100%;
  height: 100%; */
}
.nav-item {
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  border: 2px solid black;
}

.nav-item:hover {
  border: 2px solid purple;
  cursor: pointer;
}

.nav-item:focus {
  border: 2px solid purple;
}

.nav-item:hover .nav-dropdown {
  height: 300px;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav-dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 72px;
  left: 0;
  width: 100vw;
  background-color: #272727;
  height: 0px;
  z-index: 999;
  transform: translateY(-10px);
  padding: 30px;
  transition: all 0.3s ease;
}

.logo {
  width: 50px;
}
.logo img {
  width: 100%;
}
/* banner */

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  font-size: 2rem;
  background: url("https://t4.ftcdn.net/jpg/02/07/15/43/360_F_207154340_wLIJus4m3SBl5sAQmpqN3Um7REnUhskU.jpg");
  background-size: cover;
  background-position: center center; /* This centers the image */
  padding-left: 50px;
  padding-right: 50px;
}

.col {
  /* line-height: 1rem; */
}

/* card  */

.card-container {
  display: grid;
  gap: 30px;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  /* grid-template-columns: 300px 300px; */
  grid-template-columns: repeat(auto-fit, 300px);
}
.card {
  position: relative;
  /* width: 300px; */
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: #333;
}

.card-before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease, filter 0.5s ease;
  z-index: 1;
}

.card:hover .card-before {
  transform: scale(5) translate(50px, 50px);
  filter: blur(10px);
}

.card-content {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  z-index: 2;
}

.card-title {
  font-size: 24px;
  margin: 0;
}

.card-subtitle {
  font-size: 16px;
  margin: 0;
}

.card-description {
  position: absolute;
  top: 250px;
  right: -110%;
  width: 90%;
  padding: 10px;
  color: white;
  border-radius: 10px;
  transition: right 0.5s ease;
  z-index: 2;
}

.card:hover .card-description {
  right: 0;
}

.card-link {
  position: absolute;
  bottom: -50px;
  right: 20px;
  color: aliceblue;
  transition: bottom 0.5s ease;
  z-index: 2;
}

.card:hover .card-link {
  bottom: 20px;
}

.card-link a {
  color: aliceblue;
  text-decoration: none;
}

.card-link a:hover {
  text-decoration: underline;
}

/* silding divs  */

.box {
  position: relative;
  height: 500vh; /* Ensure the Box has enough height to allow for scrolling */
}

/* Box Container */
.box-container {
  position: relative;
  top: 80vh;
}

/* Inner Box */
.inner-box {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  font-size: 4rem;
  z-index: 0; /* Optional: Ensure it stays on top */
  text-transform: uppercase;
}

/* Common styles for all boxes */
.box-item {
  position: absolute;
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  transition: transform 0.1s ease;
  transform-style: preserve-3d;
  padding: 30px;
}
.box-item:hover {
  transform: scale(1.2);
  z-index: 100;
}

/* Box 1 */
.box1 {
  top: 0px;
  left: 140px;
  background-color: #2eb4cc; /* Placeholder background color */
}

/* Box 2 */
.box2 {
  top: 350px;
  right: 225px;
  background-color: #25a14a; /* Placeholder background color */
}

/* Box 3 */
.box3 {
  top: 700px;
  left: 140px;
  background-color: #ce5a5a; /* Placeholder background color */
}

/* About   */

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #2eb4cc;
  top: 0;
  z-index: 999;
  display: grid;
  background-size: cover;
  background-position: center;
  transition: 0.3s ease;
  overflow-x: hidden;
}

.modal .close-btn {
  position: absolute;
  top: 20px;
  right: 50px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.close-btn:hover {
  rotate: 180deg;
}

body.lock-scroll {
  overflow: hidden;
}
.info-skills {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  background-color: #000000b2;
  /* border-radius: 8px; */
  align-items: center;
}
.col1 {
  flex: 2;
}
.col2 {
  flex: 1;
}

.col2 img {
  width: 100%;
  animation: float 2s ease infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.discription {
  font-size: 1.2em;
  color: white;
  background-color: #17182e;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.521);
  /* width: 60%; */
}

.skill-title {
  margin-top: 50px;
}
.skill-title h5 {
  color: white;
  font-size: 2rem;
  padding: 0;
  margin: 0;
}
.skills,
.tools {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  /* width: 60%; */
}

.info-tag {
  background-color: #e0e0e0;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
  color: #555;
  font-weight: bold;
  /* flex: 1; */
  border-radius: 50px;
  transition: 0.2s ease;
}
.info-tag:hover {
  transform: translateY(-5px);
}

.skills .info-tag {
  background-color: #d1e7dd;
}

.tools .info-tag {
  background-color: #cfe2ff;
}

/* footer */
footer {
  min-height: 600px;
  background-color: #272727;
}

.footer-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  gap:30px
}
.footer-row .col {
  text-align: left;
  padding: 20px;
}
.footer-row .col ul {
  list-style: none;
  padding: 0;
  
}
.footer-row .col ul a {
  color:#ce5a5a;
  text-decoration: none;
  
}

#up-btn{
  padding: 20px;
  background-color: #ce5a5a;
  position: fixed;
  right: 50px;
  bottom: 200px;
  z-index: 998;
opacity: 0;
visibility: hidden;
transition: 0.2s ease;}

#up-btn.active{
  opacity: 1;
  visibility: visible;
}
/* @media (min-width: 750px) {
  .card-container {
    grid-template-columns: 300px 300px;
  }

  .box-item {
    position: initial;
    width: 100%;
  }
  .box-item:hover {
    transform: none;
  }
}
@media (min-width: 1000px) {
  .card-container {
    grid-template-columns: 300px 300px 300px;
  }
  .banner {
    font-size: 3rem;
  }

}

@media (min-width: 1300px) {
  .card-container {
    grid-template-columns: 300px 300px 300px 300px;
  }
  .banner {
    font-size: 4rem;
  }
  .box-item {
    position: absolute;
    width: 30%;
  }
  .box-item:hover {
    transform: scale(1.2);
  }
} */
@media (max-width: 1232px) {
  .box-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inner-box {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    font-size: 4rem;
    z-index: 0; /* Optional: Ensure it stays on top */
    text-transform: uppercase;
  }

  /* Common styles for all boxes */
  .box-item {
    position: initial;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    padding: 30px;
    margin: 20px 0;
  }
  .box-item:hover {
    transform: none;
  }
}
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 500px;
  }
  .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .card-container {
    grid-template-columns: 470px;
  }
}

@media (max-width: 400px) {
  .card-container {
    grid-template-columns: 300px;
  }
}
